@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight:500;
	font-style: normal;
}

.main {
	width: 100%;
	height: auto;
	display: grid;
	place-items: center;
	background-color: rgb(245, 245, 245);
	padding: 100px 0;
}
.main .head {
	font-size: 40px;
	color: rgba(14, 169, 216, 0.767);
	position: relative;
	margin-bottom: 100px;
	font-family: "Dancing Script", cursive;
}
.main .head::after {
	content: " ";
	position: absolute;
	width: 50%;
	height: 3px;
	left: 50%;
	bottom: -5px;
	transform: translateX(-50%);
	background-image: linear-gradient(0deg, #2af1ff 0%, #479fff 100%);
}


nav.navbar.navbar-expand-lg.bg-body-tertiary{
    position: fixed;
	z-index: 9999;
	width: 100%;

}

/* Container Css Start  */

.container {
	width: 70%;
	height: auto;
	margin: auto 0;
	position: relative;
}
.container ul {
	list-style: none;
	
}
.container ul::after {
	content: " ";
	position: absolute;
	width: 2px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(15px);
	background-image: linear-gradient(0deg, #2af1ff 0%, #479fff 100%);
}
.container ul li {
	width: 50%;
	height: auto;
	padding: 15px 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
	position: relative;
	margin-bottom: 30px;
	z-index: 99;
}

.container ul li .circle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #2af1ff;
	top: 0;
	display: grid;
	place-items: center;
}
.circle::after{
	content: ' ';
	width: 12px;
	height: 12px;
	background-color: #479fff;
	border-radius: 50%;
	
}
ul li:nth-child(odd) .circle {
	transform: translate(50%, -50%);
	right: -30px;
}
ul li:nth-child(even) .circle {
	transform: translate(-50%, -50%);
	left: -30px;
}
ul li .date {
	position: absolute;
	width: 130px;
	height: 33px;
	background-image: linear-gradient(0deg, #2af1ff 0%, #479fff 100%);
	border-radius: 15px;
	top: -45px;
	display: grid;
	place-items: center;
	color: #000;
	font-size: 10px;
	font-weight: bold;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
	
}
.container ul li:nth-child(odd) {
	float: left;
	clear: right;
	text-align: right;
	transform: translateX(-30px);
}
ul li:nth-child(odd) .date {
	right: 20px;
}
.container ul li:nth-child(even) {
	float: right;
	clear: left;
	transform: translateX(30px);
}
ul li .heading {
	font-size: 17px;
	color: #0954a3;
}
ul li p {
	font-size: 13px;
	color: #666;
	line-height: 18px;
	margin: 6px 0 4px 0;
}
ul li a {
	font-size: 13px;
	text-decoration: none;
	color: rgb(18, 54, 214);
	transition: all 0.3s ease;
}

/* Agrega estos estilos para el modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  margin-top: 15px;
}


.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  text-align: center;
  position: relative;
  align-items: center;
  font-size: 15px;
  max-height: 500px;
  overflow-y: scroll;
}

.modal-image {
	max-width: 250px;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
  }

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/*Redes*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: smaller;
}
.share {
	display: flex;
	flex-direction: row;
	gap: 2.5em;
	transition: .4s ease-in-out;
	margin: 30px;
  }
  
  .btn1 {
	position: relative;
	width: 3em;
	height: 3em;
	outline: none;
	border: none;
	border-radius: 50%;
	background-color: white;
	transition: .4s all;
  }
  

  .btn1 .tooltiptext1 {
	visibility: hidden;
	width: 6em;
	height: 8em;
	background-color: whitesmoke;
	color: black;
	border-radius: 10px;
	padding: 1em;
	position: absolute;
	left: -1.5em;
	top: -8em;
	z-index: 1;
	transition: .1s ease-in-out;
  }
  
  .btn1 .tooltiptext1 .card {
	width: 4em;
	height: 4em;
	background-color: white;
  }
  
  .btn1 .tooltiptext1 .account {
	margin-top: 1em;
  }
  
  .btn1 .tooltiptext1 .username {
	font-size: 0.7em;
	margin-top: 1.6em;
	font-weight: bold;
  }
  
  .btn1:hover .tooltiptext1 {
	transform: translateY(-1em);
	visibility: visible;
  }
  
  
  .btn2 {
	position: relative;
	width: 3em;
	height: 3em;
	outline: none;
	border: none;
	border-radius: 50%;
	background-color: white;
	transition: .4s all;
  }
  
  .btn2 .tooltiptext2 {
	visibility: hidden;
	width: 6em;
	height: 8em;
	background-color: whitesmoke;
	color: black;
	border-radius: 10px;
	padding: 1em;
	position: absolute;
	left: -1.5em;
	top: -8em;
	z-index: 1;
	transition: .1s ease-in-out;
  }
  
  .btn2 .tooltiptext2 .card {
	width: 4em;
	height: 4em;
	background-color: white;
  }
  
  .btn2 .tooltiptext2 .account {
	margin-top: 1em;
  }
  
  .btn2 .tooltiptext2 .username {
	font-size: 0.7em;
	margin-top: 1.6em;
	font-weight: bold;
  }
  
  .btn2:hover .tooltiptext2 {
	transform: translateY(-1em);
	visibility: visible;
  }
  
  .btn3 {
	position: relative;
	width: 3em;
	height: 3em;
	outline: none;
	border: none;
	border-radius: 50%;
	background-color: white;
	transition: .4s all;
  }
  
  .btn3 .tooltiptext3 {
	visibility: hidden;
	width: 6em;
	height: 8em;
	background-color: whitesmoke;
	color: black;
	border-radius: 10px;
	padding: 1em;
	position: absolute;
	left: -1.5em;
	top: -8em;
	z-index: 1;
	transition: .1s ease-in-out;
  }
  
  .btn3 .tooltiptext3 .card {
	width: 4em;
	height: 4em;
	background-color: white;
  }
  
  .btn3 .tooltiptext3 .account {
	margin-top: 1em;
  }
  
  .btn3 .tooltiptext3 .username {
	font-size: 0.7em;
	margin-top: 1.6em;
	font-weight: bold;
  }
  
  .btn3:hover .tooltiptext3 {
	transform: translateY(-1em);
	visibility: visible;
  }

  .btn4 {
	position: relative;
	width: 3em;
	height: 3em;
	outline: none;
	border: none;
	border-radius: 50%;
	background-color: white;
	transition: .4s all;
  }
  
  .btn4 .tooltiptext4 {
	visibility: hidden;
	width: 6em;
	height: 8em;
	background-color: whitesmoke;
	color: black;
	border-radius: 10px;
	padding: 1em;
	position: absolute;
	left: -1.5em;
	top: -8em;
	z-index: 1;
	transition: .1s ease-in-out;
  }
  
  .btn4 .tooltiptext4 .card {
	width: 4em;
	height: 4em;
	background-color: white;
  }
  
  .btn4 .tooltiptext4 .account {
	margin-top: 1em;
  }
  
  .btn4 .tooltiptext4 .username {
	font-size: 0.7em;
	margin-top: 1.6em;
	font-weight: bold;
  }
  
  .btn4:hover .tooltiptext4 {
	transform: translateY(-1em);
	visibility: visible;
  }
  

@media only screen and (min-width:798px) and (max-width: 1100px) {
	.container{
		width: 80%;
	}

	.container ul::after{
		transform: translateX(15px);
	}
}

@media only screen and (max-width: 798px) {
	.container{
		width: 70%;
		transform: translateX(20px);
	}
	.container ul::after{
		left: -40px;
		transform: translateX(43px);
	}
	.container ul li {
		width: 100%;
		float: none;
		clear: none;
		margin-bottom: 80px;
	}
	.container ul li .circle{
		left: -40px;
		transform: translate(-50%, -50%);
	}
	.container ul li .date{
		left: 20px;
	}
	.container ul li:nth-child(odd) {
		transform: translateX(0px);
		text-align: left;
	}
	.container ul li:nth-child(even) {
		transform: translateX(0px);
	}

	.modal-content{
		font-size: 11px;
		max-height: 400px;
		overflow-y: scroll;
	}

	.modal-content h2{
		font-size: 15px;
		font-weight: bold;
	}

	.modal-image{
		max-width: 200px;
	}

}

@media only screen and (max-width: 550px) {
	.container{
		width: 80%;
	}
	.container ul::after{
		left: -20px;

	}
	.container ul li .circle{
		left: -20px;
	}
}
